.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.AppHeader{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 55px 6px 55px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.SideMenuAndPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: url(../public/images/texture3.jpg);
    background-size: 100%;  
}

.SideMenu{
    height: 100%;
}
.SideMenuVertical{
    height: 100%;
}
.PageContent{
    /* margin-top: 50px; */
    width: 1520px;
    margin-left: 12px;
}